<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="Universal Control for Blind Users" Manufacturer="John Conrad" Version="1.0.0.0" UpgradeCode="15a1e916-5169-49c9-b3f8-e435dc2de55b">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main">
      <ComponentGroupRef Id="ExampleComponents" />
    </Feature>
  </Package>
</Wix>
